.ui-tabs { padding: 0 !important; }
.ui-tabs .ui-tabs-panel { margin-top: 1px !important; }

.juitabs-header-li {
    margin: 0 0 -1px !important;
    -moz-border-radius: 12px 0 0 !important;
}

.juitabs-widget { padding: 0; }
.juitabs-widget>ul {
    margin: -1px 0 -1px -1px !important;
    position: relative !important;
    -moz-border-radius: 4px 4px 0 0 !important;
}
.juitabs-widget>ul>li {
    top: 0 !important;
}

.juitabs-widget.jui-fillspace { border-width: 1px 0 0 }
.juitabs-title { padding-left: 16px }
.juitabs-content.jui-fillspace {
    padding: 10px 0 10px 15px !important;
    overflow: hidden !important;
}


/* Sidebar, Compact
----------------------------------*/
.juitabs-compact .juitabs-header-li>a {
    padding: 0.1em 0.3em !important;
    font-size: 0.8em;
}
.juitabs-compact .juitabs-header-ul  {
    line-height: 1.3em !important;
}
.juitabs-sidebar .juitabs-content {
    padding: 0.2em 0.5em !important;
    font-size: 0.8em;
}

.juitabs-compact .juitabs-content { font-size: 0.9em; }


/*
        .ui-tabs .ui-tabs-panel {
            margin-top: 1px !important;
        }

.juitabs-header-li>a:hover { text-decoration: none !important; }
        .juitabs-widget { padding: 0; }
        .juitabs-widget>ul {
            ma/rgin: -1px 0 -1px -1px !important;
            margin: -1px 0 0 !important;
            -moz-border-radius: 4px 4px 0 0 !important;
        }
        .juitabs-header-li {
            margin: 0 0 -1px !important;
            -moz-border-radius: 12px 0 0 !important;
        }

.juitabs-wheader {
    background: silver;
    height: 20px;
    width: 99%;
}

        .juitabs-sidebar .juitabs-header-li>a, .juitabs-compact .juitabs-header-li>a {
            padding: 0.1em 0.3em !important;
            font-size: 0.8em;
        }
        .juitabs-sidebar .juitabs-header-ul, .juitabs-compact .juitabs-header-ul  {
            line-height: 1.3em !important;
        }
        .juitabs-sidebar .juitabs-content {
            padding: 0.2em 0.5em !important;
            font-size: 0.8em;
        }

        .juiacc-sidebar .juitabs-sidebar { border-width: 0 }
        
        .juitabs-compact .juitabs-content {
            font-size: 0.9em;
}
----------------------------------*/

/*
----------------------------------*/

